    {% load static %}

    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Travel App Sample">
        <meta name="author" content="John Francis I. Ibañez, Jr.">

        <title>Travel App</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <!-- Custom styles for this template -->
        <link href="{% static "css/form-validation.css" %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      </head>

      <body class="bg-light">
          <nav class="navbar navbar-dark bg-dark justify-content-right" style="color:white">
            <a class="navbar-brand" href="#">Travel Portal</a>
            <div>
            <span class="fa fa-user"></span> {{ user.first_name }}
            <a class="btn btn-primary ml-3" href="{% url 'logout'%}?next={% url 'login' %}">
              <span class="fa fa-sign-out"></span> Logout
            </a>
            </div>
          </nav>

        <div class="container-fluid">
          <div class="py-5 text-center">
            <h2>Travel List</h2>
          </div>

          <div class="col-md-12 order-md-12">
            {% if is_worker %}
            <div class="mb-3 float-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTourModal">
                  <span class="fa fa-plus"></span> Add Tour
              </button>
            </div>

            <div class="modal fade" id="addTourModal" tabindex="-1" role="dialog" aria-labelledby="addTourModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addTourModalLabel">Add Tour</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal needs-validation" action="{% url 'index' %}" method="post" novalidate>
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label" for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Enter purpose" required></textarea>
                        <div class="invalid-feedback">
                          Description required.
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group">
                          <label class="control-label" for="startDate">Start Date</label>
                          <input type="date" class="form-control" id="startDate" name="startDate" required>
                          <div class="invalid-feedback">
                            Start Date required.
                          </div>
                        </div>

                        <div class="form-group ml-4">
                          <label class="control-label" for="endDate">End Date</label>
                          <input type="date" class="form-control" id="endDate" name="endDate" required>
                        </div>
                        <div class="invalid-feedback">
                          End Date required.
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group">
                          <label class="control-label" for="homeCab">Home Cab Cost</label>
                          <input type="text" class="form-control" id="homeCab" name="homeCab" required>
                          <div class="invalid-feedback">
                            Home Cab required.
                          </div>
                        </div>

                        <div class="form-group ml-4">
                          <label class="control-label" for="destination">Destination Cab Cost</label>
                          <input type="text" class="form-control" id="destCab" name="destCab" required>
                          <div class="invalid-feedback">
                            Destination Cab required.
                          </div>
                        </div>
                      </div>

                      <h6 class="mb-3">Place to stay</h5>
                      <div class="form-group">
                        <label class="control-label" for="hotel">Hotel</label>
                        <select class="form-control" id="hotel" name="hotel" required>
                          {% for hotel in hotels %}
                          <option>{{ hotel.name }}</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                          Hotel required.
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group  ">
                          <label class="control-label" for="hotelCurrency">Hotel Currency</label>
                          <select class="form-control" id="hotelCurrency" name="hotelCurrency" required>
                            {% for currency in currencies %}
                            <option>{{ currency.currency }}</option>
                            {% endfor %}
                          </select>
                          <div class="invalid-feedback">
                            Hotel Currency required.
                          </div>
                        </div>

                        <div class="form-group ml-4">
                          <label class="control-label" for="hotelCost">Hotel Cost</label>
                          <input type="text" class="form-control" id="hotelCost" placeholder="0.00" name="hotelCost" required>
                          <div class="invalid-feedback">
                            Hotel Cost required.
                          </div>
                        </div>
                      </div>

                      <h6 class="mb-3">Mode of Transport</h5>
                      <div class="form-group mb-3">
                        <label class="control-label" for="transportType">Transport Type</label>
                        <select class="form-control" id="transportType" name="transportType" required>
                          {% for transport in transport_types %}
                          <option>{{ transport.name }}</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                          Transport Type required.
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group  ">
                          <label class="control-label" for="transportCurrency">Transport Currency</label>
                          <select class="form-control" id="transportCurrency" name="transportCurrency" required>
                            {% for currency in currencies %}
                            <option>{{ currency.currency }}</option>
                            {% endfor %}
                          </select>
                          <div class="invalid-feedback">
                            Transport Currency required.
                          </div>
                        </div>

                        <div class="form-group ml-4">
                          <label class="control-label" for="transportCost">Transport Cost</label>
                          <input type="text" class="form-control" id="transportCost" placeholder="0.00" name="transportCost" required>
                          <div class="invalid-feedback">
                            Transport Cost required.
                          </div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label class="control-label" for="approvingManager">Approving Manager</label>
                        <select class="form-control" id="approvingManager" name="approvingManager" required>
                          {% for manager in managers %}
                          <option value="{{ manager.pk }}">{{ manager.user.first_name }} {{ manager.user.last_name }}</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                          Approving Manager required.
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="draft" name="draft" value="draft">Save as Draft</button>
                        <button type="submit" class="btn btn-primary" id="submit" name="submit" value="save">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" style="width:16%">Start Date</th>
                  <th scope="col" style="width:16%">End Date</th>
                  {% if is_worker %}
                  <th scope="col" style="width:16%">Approving Manager</th>
                  <th scope="col" style="width:16%">Approving Finance Manager</th>
                  {% endif %}
                  {% if not is_worker %}
                  <th scope="col">Submitted by</th>
                  {% endif %}
                  <th scope="col">Status</th>
                  <th scope="col" style="width:16%">Created</th>
                  <th scope="col" style="width:16%">Updated</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for tour in tours %}
                {% if is_worker%}
                <tr>
                  <th scope="row">{{ tour.pk }}</th>
                  <td>{{ tour.start_date }}</td>
                  <td>{{ tour.end_date }}</td>
                  <td>{{ tour.manager }}</td>
                  <td>{{ tour.finance_manager }}</td>
                  {% if tour.status == 'draft' %}
                  <td><span class="badge badge-secondary">{{ tour.status }}</span></td>
                  {% endif %}
                  {% if tour.status == 'submitted' %}
                  <td><span class="badge badge-primary">{{ tour.status }}</span></td>
                  {% endif %}
                  {% if tour.status == 'approved' %}
                  <td><span class="badge badge-success">{{ tour.status }}</span></td>
                  {% endif %}
                  {% if tour.status == 'rejected' %}
                  <td><span class="badge badge-danger">{{ tour.status }}</span></td>
                  {% endif %}
                  {% if tour.status == 'request_for_information' %}
                  <td><span class="badge badge-info">{{ tour.status }}</span></td>
                  {% endif %}
                  <td>{{ tour.created }}</td>
                  <td>{{ tour.modified }}</td>
                  {% if tour.status == 'draft' %}
                  <td><a class="btn btn-small" title="Edit Tour" data-toggle="modal" data-target="#viewTourModal{{ tour.pk }}"><span class="fa fa-pencil-square-o"></span></a></td>
                  {% else %}
                  <td><a class="btn btn-small" title="View Tour" data-toggle="modal" data-target="#viewTourModal{{ tour.pk }}"><span class="fa fa-info"></span></a></td>
                  {% endif %}
            </tr>                                                                          
            {% else %}
              {% if tour.status != 'draft' %}
            <tr>
              <th scope="row">{{ tour.pk }}</th>
              <td>{{ tour.start_date }}</td>
              <td>{{ tour.end_date }}</td>
              <td>{{ tour.worker }}</td>
              {% if tour.status == 'submitted' %}
              <td><span class="badge badge-primary">{{ tour.status }}</span></td>
              {% endif %}
              {% if tour.status == 'approved' %}
              <td><span class="badge badge-success">{{ tour.status }}</span></td>
              {% endif %}
              {% if tour.status == 'rejected' %}
              <td><span class="badge badge-danger">{{ tour.status }}</span></td>
              {% endif %}
              {% if tour.status == 'request_for_information' %}
              <td><span class="badge badge-info">{{ tour.status }}</span></td>
              {% endif %}
              <td>{{ tour.created }}</td>
              <td>{{ tour.modified }}</td>
              <td><a class="btn btn-small" data-toggle="modal" data-target="#viewTourModal{{ tour.pk }}"><span class="fa fa-info"></span></a></td>
            </tr>                                                                          
              {% endif %}
            {% endif %}

            <div class="modal fade" id="viewTourModal{{ tour.pk }}" tabindex="-1" role="dialog" aria-labelledby="viewTourModalLabel{{ tour.pk }}" aria-hidden="true">
              <div class="modal-dialog" role="document">                                   
                <div class="modal-content">                                                
                  <div class="modal-header">                                               
                    <h5 class="modal-title" id="viewTourModalLabel{{ tour.pk }}">View Tour</h5>         
                      <button type="button" class="close" data-dismiss="modal" aria-label= "Close">
                        <span aria-hidden="true">&times;</span>                            
                      </button>                                                            
                  </div>                                                                   
                  <div class="modal-body">                                                 
                    <form class="form-horizontal needs-validation" action="{% url 'index' %}" method="post" novalidate> 
                      {% csrf_token %}                                                     
                      <div class="form-group">                                             
                        <label class="control-label" for="description">Description</label> 
                        {% if is_worker and tour.status == 'draft' %}
                        <textarea class="form-control" id="description" name="description" placeholder="Enter purpose" required>{{ tour.description }}</textarea>
                        <div class="invalid-feedback">
                          Description required.
                        </div>
                        {% else %}
                        <textarea class="form-control" id="description" name="description" placeholder="Enter purpose" readonly>{{ tour.description }}</textarea>
                        {% endif %}
                      </div>                                                               
                                                                                           
                      <div class="form-row">                                               
                        <div class="form-group">                                           
                          <label class="control-label" for="startDate">Start Date</label>  
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="date" class="form-control" id="startDate" name="startDate" value="{{ tour.start_date|date:"Y-m-d" }}" required>
                          <div class="invalid-feedback">
                            Start Date required.
                          </div>
                          {% else %}
                          <input type="date" class="form-control" id="startDate" name="startDate" value="{{ tour.start_date|date:"Y-m-d" }}" readonly>
                          {% endif %}
                        </div>                                                             
                                                                                           
                        <div class="form-group ml-4">                                      
                          <label class="control-label" for="endDate">End Date</label>      
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="date" class="form-control" id="endDate" name="endDate" value="{{ tour.end_date|date:"Y-m-d" }}" required>
                          <div class="invalid-feedback">
                            End Date required.
                          </div>
                          {% else %}
                          <input type="date" class="form-control" id="endDate" name="endDate" value="{{ tour.end_date|date:"Y-m-d" }}" readonly>
                          {% endif %}
                        </div>                                                             
                      </div>                                                               
                                                                                           
                      <div class="form-row">                                               
                        <div class="form-group">                                           
                          <label class="control-label" for="homeCab">Home Cab Cost</label> 
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="text" class="form-control" id="homeCab" name="homeCab" value="{{ tour.home_cab }}" required>
                          <div class="invalid-feedback">
                            Home Cab required.
                          </div>
                          {% else %}
                          <input type="text" class="form-control" id="homeCab" name="homeCab" value="{{ tour.home_cab }}" readonly>
                          {% endif %}
                        </div>                                                             
                                                                                           
                        <div class="form-group ml-4">                                      
                          <label class="control-label" for="destination">Destination Cab Cost</label>
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="text" class="form-control" id="destCab" name="destCab" value="{{ tour.dest_cab }}" required>
                          <div class="invalid-feedback">
                            Destination Cab required.
                          </div>
                          {% else %}
                          <input type="text" class="form-control" id="destCab" name="destCab" value="{{ tour.dest_cab }}" readonly>
                          {% endif %}
                        </div>                                                             
                      </div>                                                               
                                                                                           
                      <h6 class="mb-3">Place to stay</h5>                                  
                      <div class="form-group">                                             
                        <label class="control-label" for="hotel">Hotel</label>             
                        {% if is_worker and tour.status == 'draft' %}
                        <select class="form-control" id="hotel" name="hotel" required>
                        <div class="invalid-feedback">
                          Hotel required.
                        </div>
                        {% else %}
                        <select class="form-control" id="hotel" name="hotel" readonly>
                        {% endif %}
                          {% for hotel in hotels %}                                        
                            {% if hotel.name == tour.hotel_cost.hotel.name%}
                          <option selected>{{ hotel.name }}</option>                                
                            {% else %}
                          <option>{{ hotel.name }}</option>                                
                            {% endif %}
                          {% endfor %}                                                     
                        </select>                                                          
                      </div>                                                               
                                                                                           
                      <div class="form-row">                                               
                        <div class="form-group">                                         
                          <label class="control-label" for="hotelCurrency">Hotel Currency</label>
                          {% if is_worker and tour.status == 'draft' %}
                          <select class="form-control" id="hotelCurrency" name="hotelCurrency" required>
                          <div class="invalid-feedback">
                            Hotel Currency required.
                          </div>
                          {% else %}
                          <select class="form-control" id="hotelCurrency" name="hotelCurrency" readonly>
                          {% endif %}
                            {% for currency in currencies %}                               
                              {% if currency.currency == tour.hotel_cost.currency.currency %}
                            <option selected>{{ currency.currency }}</option>                       
                              {% else %}
                            <option>{{ currency.currency }}</option>                       
                              {% endif %}
                            {% endfor %}                                                   
                          </select>                                                        
                        </div>                                                             
                                                                                           
                        <div class="form-group ml-4">                                      
                          <label class="control-label" for="hotelCost">Hotel Cost</label>  
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="text" class="form-control" id="hotelCost" placeholder="0.00" name="hotelCost" value="{{ tour.hotel_cost.cost }}" required>
                          <div class="invalid-feedback">
                            Hotel Cost required.
                          </div>
                          {% else %}
                          <input type="text" class="form-control" id="hotelCost" placeholder="0.00" name="hotelCost" value="{{ tour.hotel_cost.cost }}" readonly>
                          {% endif %}
                        </div>                                                             
                      </div>                                                               
                                                                                           
                      <h6 class="mb-3">Mode of Transport</h5>                              
                      <div class="form-group mb-3">                                        
                        <label class="control-label" for="transportType">Transport Type</label>
                        {% if is_worker and tour.status == 'draft' %}
                        <select class="form-control" id="transportType" name="transportType" required>
                        <div class="invalid-feedback">
                          Transport Type required.
                        </div>
                        {% else %}
                        <select class="form-control" id="transportType" name="transportType" readonly>
                        {% endif %}
                          {% for transport in transport_types %}                           
                            {% if transport.name == tour.ticket.transport.transport_type%}
                          <option selected>{{ transport.name }}</option>                            
                            {% else %}
                          <option>{{ transport.name }}</option>                            
                            {% endif %}
                          {% endfor %}                                                     
                        </select>                                                          
                      </div>                                                               
                                                                                           
                      <div class="form-row">                                               
                        <div class="form-group  ">                                         
                          <label class="control-label" for="transportCurrency">Transport Currency</label>
                          {% if is_worker and tour.status == 'draft' %}
                          <select class="form-control" id="transportCurrency" name="transportCurrency" required>
                          <div class="invalid-feedback">
                            Transport Currency required.
                          </div>
                          {% else %}
                          <select class="form-control" id="transportCurrency" name="transportCurrency" readonly>
                          {% endif %}
                            {% for currency in currencies %}                               
                              {% if currency.currency == tour.ticket.currency.currency %}
                            <option selected>{{ currency.currency }}</option>                       
                              {% else %}
                            <option>{{ currency.currency }}</option>                       
                              {% endif %}
                            <option>{{ currency.currency }}</option>                       
                            {% endfor %}                                                   
                          </select>                                                        
                        </div>                                                             
                                                                                           
                        <div class="form-group ml-4">                                      
                          <label class="control-label" for="transportCost">Transport Cost</label>
                          {% if is_worker and tour.status == 'draft' %}
                          <input type="text" class="form-control" id="transportCost" place holder="0.00" name="transportCost" value="{{ tour.ticket.cost }}" required>
                          <div class="invalid-feedback">
                            Transport Cost required.
                          </div>
                          {% else %}
                          <input type="text" class="form-control" id="transportCost" place holder="0.00" name="transportCost" value="{{ tour.ticket.cost }}" readonly>
                          {% endif %}
                        </div>                                                             
                      </div>                                                               
                                                                                           
                      <div class="form-group mb-3">                                        
                        <label class="control-label" for="approvingManager">Approving Manager</label>
                        {% if is_worker and tour.status == 'draft' %}
                        <select class="form-control" id="approvingManager" name="approvingManager" required>
                        <div class="invalid-feedback">
                          Approving Manager required.
                        </div>
                        {% else %}
                        <select class="form-control" id="approvingManager" name="approvingManager" readonly>
                        {% endif %}
                          {% for manager in managers %}                                    
                            {% if manager.pk == tour.manager.user.first_name %}
                          <option selected value="{{ manager.pk }}">{{ manager.user.first_name }} {{ manager.user.last_name }}</option>
                            {% else %}
                          <option value="{{ manager.pk }}">{{ manager.user.first_name }} {{ manager.user.last_name }}</option>
                            {% endif %}
                          {% endfor %}                                                     
                        </select>                                                          
                      </div>                                                               
                      <div class="modal-footer">                                           
                        <input type="hidden" id="tourId" name="tourId" value="{{ tour.pk }}">
                        {% if is_worker %}
                            {% if tour.status == 'draft' %}
                        <button type="submit" class="btn btn-primary" id="update" name="update" value="update">Update</button>
                        <button type="submit" class="btn btn-primary" id="save" name="save" value="save">Submit</button>
                            {% endif %}
                        {% else %}                                                         
                        <button type="submit" class="btn btn-danger" id="reject" name="reject" value="reject">Reject</button>
                        <button type="submit" class="btn btn-info" id="rfi" name="rfi" value="rfi">Request for Information</button>
                        <button type="submit" class="btn btn-primary" id="approve" name="approve" value="approve">Approve</button>
                        {% endif %}                                                        
                      </div>                                                               
                    </form>                                                                
                  </div>                                                                   
                </div>                                                                     
              </div>                                                                       
            </div>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
