{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Travel App Sample">
    <meta name="author" content="John Francis I. Ibañez, Jr.">

    <title>Travel App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="{% static "form-validation.css" %}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Travel Portal</h2>
      </div>

        <div class="col-md-12 order-md-12">
          <h4 class="mb-3">Tour</h4>
          <form id=travelForm" class="needs-validation" novalidate method="post">
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="" value="" name="description"></textarea>
              </div>
              <div class="col-md-6 mb-3">
                <label for="startDate">Start Date</label>
                <input type="text" class="form-control" id="startDate" required name="start_date">
                <div class="invalid-feedback">
                  Valid date is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="endDate">End Date</label>
                <input type="text" class="form-control" id="endDate" placeholder="" value="" required name="end_date">
                <div class="invalid-feedback">
                  Valid date is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="transport">Transport</label>
              <div class="input-group">
                <select class="custom-select d-block w-100" id="transport" required name="transport">
                  <option value="">Choose...</option>
                  <option value="1">Plane</option>
                </select>
                <div class="invalid-feedback" style="width: 100%;">
                  Valid Transport is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="ticketCost">Ticket Cost</label>
              <input type="ticketCost" class="form-control" id="ticketCost" value="0" required name="ticket_cost">
              <div class="invalid-feedback">
                Please enter a valid cost for tickets.
              </div>
            </div>

            <div class="mb-3">
              <label for="homeCabCost">Home Cab Cost</label>
              <input type="text" class="form-control" id="homeCabCost" value="0" required name="home_cab_cost">
              <div class="invalid-feedback">
                Please enter a valid cost for a cab to home.
              </div>
            </div>

            <div class="mb-3">
              <label for="destCabCost">Destination Cab Cost</label>
              <input type="text" class="form-control" id="destCabCost" value="0" required name="dest_cab_cost">
              <div class="invalid-feedback">
                Please enter a valid cost for a cab to destination.
              </div>
            </div>

            <div class="mb-3">
              <label for="destCabCost">Hotel Cost</label>
              <input type="text" class="form-control" id="hotelCost" value="0" required name="hotel_cost">
              <div class="invalid-feedback">
                Please enter a valid cost for a hotel.
              </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" onclick='submitTravelForm()'>Submit</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

    <script>
      var jQuery_1_12_4 = $.noConflict(true);
      $(function() {
          jQuery_1_12_4("#startDate").datepicker({
            dateFormat: "yy-mm-dd"
          });
          jQuery_1_12_4("#endDate").datepicker({
            dateFormat: "yy-mm-dd"
          });
      });

      function submitTravelForm() {
        var form = jQuery('form#travelForm');
        var json = ConvertFormToJSON(form);
        jQuery_1_12_4.post('http://localhost:8000/api/tours/', json)
          .done(function(data){
            alert("Success!");
          })
          .fail(function(data){
            alert("Fail!");
          })
          .always(function(data){
            alert("API Called!");   
          });
      }

      function ConvertFormToJSON(form) {
        var formData = jQuery(form).serializeArray();
        var json = {};

        jQuery.each(formData, function() {
          json[this.name] = this.value || '';
        })

       return json;
      };
    </script>
  </body>
</html>
